extends template
block variables
	- title = 'Блоки'
block content
	.imagesFlex
		include imageBlock
		+createImageBlock('img/block-css.png', '33.33%')
		+createImageBlock('img/block2.png', '33.33%')
		+createImageBlock('img/block3.png', '33.33%')
	.textFlex
		.textFlexLeft1
			p За тип отображения элемента отвечает свойство display. Для блочных элементов это свойство установлено в block. При этом для многих элементов (например, &lt;h1&gt;…&lt;h6&gt;, &lt;p&gt;, &lt;ol&gt;, &lt;ul&gt;, div) это свойство установлено по умолчанию. Для того, чтобы преобразовать блочный элемент в строчный ипользуется свойство displayсо значением inline.
		.textFlexRight1
			.textBlock
				p Блочный элемент - это элемент, который занимает всю доступную ширину и всегда начинается с новой строки. Высота блока зависит от его содержимого. Высота блочного элемента вычисляется браузером автоматически, исходя из его содержимого. Для изменения высоты блока используется свойство height, которое устанавливает высоту содержимого элемента.
			.textBlock
				p Для некоторых тегов эти значения display установлены по умолчанию (например, &lth1&gt…&lth6&gt, &ltp&gt, &ltol&gt, &ltul&gt, div), поэтому они уже обладают свойствами блочных элементов. 
			.textBlock
				p Блочный элемент по умолчанию занимает всю доступную ему ширину. Для изменения ширины блока используется свойство width, которое устанавливает ширину содержимого элемента.