@media (max-width:600px)
  .textFlex
    display flex
    flex-direction column
    padding 0px
    align-items center
    .textBlock
      padding 0px
      margin 0px
      width 100%
    .textFlexRight1
      padding 0px
      margin 0px
      width 100%
    .textFlexLeft1
      padding 0px
      margin 0px
      width 100%