.textFlex
  display flex !important
  flex-direction row
  justify-content space-between
  align-content stretch
  flex-wrap wrap

.textFlexLeft1
  display flex !important
  width 32.33%
  p
    line-height 2
    margin 1vw
    text-align justify
    text-indent 2vw
    word-spacing 0.5em

.textFlexRight1
  display flex !important
  flex-direction column
  width 64.66%
  p
    line-height 2
    margin 1vw
    text-align justify
    text-indent 2vw
    word-spacing 0.5em

  

